@import "partials/variables";
@import "partials/mixins";

* {
    margin:0;
}

header {
    width: 100%;
    height: 80px;
    background-color: $darkgrey;

    div.header-wrapper {
        height:80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 35px;
        justify-content: space-between;
        
        h1 {
            a {
                color: white;
                font-size: 20px;
                text-decoration: none;
                font-family: 'Times New Roman', Times, serif;
                @include for-small-screen {
                    font-size: 27px;
                }
            }
        }
    }
    nav {
        display: none;
        
        
        @include for-small-screen {
            background-color: $darkgrey;
            box-shadow: none;
            width: 450px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                color:white;
                padding:10px;
                text-decoration: none;
            }
            a.login {
                color: $darkgrey;
                padding:0 25px;
                border-radius: 10px;
                background-color: $yellow;
                height: 40px;
                text-align: center;
            }
            a:hover, a:active {
                color:$yellow;
            }
            a.login:hover, a.login:active {
                background-color: $lgray;
            }
            
        }
    }  
}

#gradient-img {
    background-image: 
    linear-gradient(to bottom, transparent, $gray), url(/assets/workingspace.jpg);
    max-width: 100%;
    height: 800px;
    background-size:cover;
    color:white;
    font-size: 50px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.intro-square {
        width: 80%;
        @include for-small-screen {
            width: 50%;
        }
        h2 {
            font-size: 30px;
            margin: 30px 0;
            text-align: center;
            @include for-small-screen {
                font-size: 35px;
                margin: 40px 0;
            }
            @include for-large-screen {
                font-size: 46px;
                margin: 40px 0;
            }
        }
        p {
            font-size: 19px;
            text-align: center;
            @include for-small-screen {
                font-size: 22px;
            }
            @include for-large-screen {
                font-size: 27px;
            }
        }
    }
}
article.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    div.text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div.p-intro {
            padding-top: 30px;
            width: 80%;
            margin:10px;
        }
        .h3-p {
            width: 80%;
            margin: 15px 5px;
            h3 {
                font-size: 23px;
                margin-bottom: 15px;;
            }
            p {
                font-size: 16px;
            }
        }
        @include for-small-screen {
            .h3-p {
                margin: 25px 10px;
                h3 {
                    font-size: 27px;
                    margin-bottom: 15px;;
                }
                p {
                    font-size: 19px;
                }
            }
        }
        @include for-large-screen {
            display:flex;
            flex-flow: row wrap;
            width: 940px;
            div.p-intro {
                width: 1020px;
            }

            .h3-p {
                margin: 60px 10px;
                width: 450px;
                height: 300px;
                h3 {
                    margin-bottom: 25px;
                    font-size: 32px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
        
    }
}

footer.page-footer {
    margin-top: 300px;
}