* {
  margin: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: #2D353D;
}

header div.header-wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div.header-wrapper h1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 769px) {
  header div.header-wrapper h1 a {
    font-size: 24px;
  }
}

header nav {
  display: none;
}

@media (min-width: 769px) {
  header nav {
    background-color: #2D353D;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  header nav a.login {
    color: #2D353D;
    padding: 0 25px;
    border-radius: 10px;
    background-color: #feea8b;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav a:hover, header nav a:active {
    color: #feea8b;
  }
  header nav a.login:hover, header nav a.login:active {
    background-color: #242b31;
  }
}

@media (min-width: 769px) {
  header i.small {
    display: none;
  }
}

#gradient-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2D353D)), url(/assets/workingspace.jpg);
  background-image: linear-gradient(to bottom, transparent, #2D353D), url(/assets/workingspace.jpg);
  max-width: 100%;
  height: 800px;
  background-size: cover;
  color: white;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gradient-img div.intro-square {
  width: 80%;
  margin-top: 170px;
}

@media (min-width: 769px) {
  #gradient-img div.intro-square {
    width: 50%;
  }
}

#gradient-img div.intro-square h2 {
  font-size: 30px;
  margin: 30px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 769px) {
  #gradient-img div.intro-square h2 {
    font-size: 35px;
    margin: 40px 0;
  }
}

@media (min-width: 1025px) {
  #gradient-img div.intro-square h2 {
    font-size: 46px;
    margin: 50px 0;
  }
}

#gradient-img div.intro-square p {
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 769px) {
  #gradient-img div.intro-square p {
    font-size: 22px;
  }
}

@media (min-width: 1025px) {
  #gradient-img div.intro-square p {
    font-size: 25px;
  }
}

article.content-wrapper {
  color: #2D353D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article.content-wrapper div.text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article.content-wrapper div.text-wrapper div.p-intro {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  width: 80%;
  margin: 10px;
}

article.content-wrapper div.text-wrapper div.p-intro hr {
  border-top: 1px solid #BABDC2;
}

article.content-wrapper div.text-wrapper div.p-links {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 150px;
  background-color: #feea8b;
  margin-top: 30px;
  padding: 0 10%;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2D353D;
}

article.content-wrapper div.text-wrapper div.p-links a {
  color: #6f7377;
}

article.content-wrapper div.text-wrapper div.p-links a:hover {
  color: #242b31;
  text-decoration: underline;
}

article.content-wrapper div.text-wrapper .h3-p {
  width: 80%;
  margin: 15px 5px;
}

article.content-wrapper div.text-wrapper .h3-p h3 {
  font-size: 23px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

article.content-wrapper div.text-wrapper .h3-p p, article.content-wrapper div.text-wrapper .h3-p li {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

@media (min-width: 769px) {
  article.content-wrapper div.text-wrapper .h3-p {
    margin: 25px 10px;
  }
  article.content-wrapper div.text-wrapper .h3-p h3 {
    font-size: 27px;
    margin-bottom: 15px;
  }
  article.content-wrapper div.text-wrapper .h3-p p, article.content-wrapper div.text-wrapper .h3-p li {
    font-size: 17px;
  }
}

@media (min-width: 1025px) {
  article.content-wrapper div.text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 940px;
  }
  article.content-wrapper div.text-wrapper div.p-intro {
    width: 1020px;
  }
  article.content-wrapper div.text-wrapper .h3-p {
    margin: 40px 10px;
    width: 450px;
    height: 300px;
  }
  article.content-wrapper div.text-wrapper .h3-p h3 {
    margin-bottom: 25px;
    font-size: 35px;
  }
  article.content-wrapper div.text-wrapper .h3-p p, article.content-wrapper div.text-wrapper .h3-p li {
    font-size: 19px;
  }
  article.content-wrapper div.text-wrapper div.p-links {
    width: 98%;
    margin-top: 350px;
  }
}

footer.page-footer {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 70px;
  background-color: #2D353D;
}

footer.page-footer .container {
  color: #feea8b;
}

footer.page-footer a {
  color: #eaedf1;
}

footer.page-footer a:hover {
  color: #feea8b;
}

footer.page-footer .footer-copyright {
  background-color: #242b31;
}
/*# sourceMappingURL=style.css.map */